<app-nav-bar></app-nav-bar>
  <table class="table table-striped" *ngIf="payments.length">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Project</th>
        <th scope="col">Bill</th>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Payed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments">
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>