<ng-container *ngIf="projects.length; else elseTemplate">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="table-danger">
        <tr>
          <th scope="col">#</th>
          <th scope="col">
            اسم
          </th>
          <th scope="col">
            وصف
          </th>
          <th scope="col">
            تاريخ
          </th>
          <th scope="col">
            الرسوم
          </th>
          <th scope="col">
            وحدة
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let project of projects
              | paginate: { itemsPerPage: 5, currentPage: p }
          "
        >
          <th scope="row">{{ project.id }}</th>
          <td>{{ project.name }}</td>
          <td>{{ project.desc }}</td>
          <td>{{ project.createdAt | date: "dd/MM/yy" }}</td>
          <td>{{ project.fees | currency: 'DH' }}</td>
          <td>{{ project.unit }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-div">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</ng-container>

<ng-template #elseTemplate>
  <app-empty-card label="مشاريع" ></app-empty-card>
</ng-template>
