<app-nav-bar></app-nav-bar>

<ng-container *ngIf="users.length; else elseTemplate">
  <table class="table table-striped" >
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Date of Birth</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td ><img [ngStyle]="{'width': '100%'}" class="img-responsive" src="{{user.image}}"/></td>
        <th class="align-middle" scope="row">{{ user.name }}</th>
        <td class="align-middle">{{ user.phone }}</td>
        <td class="align-middle">{{ user.dob }}</td>
      </tr>
    </tbody>
  </table>
  </ng-container>
  <ng-template #elseTemplate>
    <div  class="alert alert-info alert-dismissible fade show" role="alert">
      <strong>Empty!</strong> there is no users.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </ng-template>
  