<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm.value)">
          <div class="form-group">
            <label for="phone">Phone Number</label>
            <input autofocus autocomplete="phone" name="phone" type="text" class="form-control" id="phone" aria-describedby="phoneHelp" formControlName="phone">
            <small id="emailHelp" class="form-text text-muted">We'll never share your phone with anyone else.</small>
            <div *ngIf="loginForm.controls.phone.errors?.required" class="invalid-feedback">phone number is required</div>
            <div *ngIf="loginForm.controls.phone.errors?.pattern" class="invalid-feedback">phone number should look like 0612345678</div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
            <div *ngIf="loginForm.controls.password.errors?.required" class="invalid-feedback">password is required</div>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="remember-me" formControlName="rememberme">
            <label class="form-check-label" for="remember-me">Remember me</label>
          </div>
          <button type="submit" class="btn" [ngClass]="{'btn-danger': loginForm.invalid, 'btn-success': loginForm.valid}" [ngStyle]="{'marginRight': '15px'}">Sign in</button>
          <a routerLink="/auth/register"><button type="button" class="btn btn-primary">Register</button></a>
          <div *ngIf="loading" class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
      </form>
      <div class="alert alert-danger alert-dismissible fade show" [ngStyle]="{'marginTop': '20px'}" role="alert" *ngIf="errors?.length">
        <ul>
          <li *ngFor="let error of errors"> {{ error }} </li>
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="col-lg-6">
      <img src="/assets/images/login.svg" alt="login image" class="img-fluid mt-3">
    </div>
  </div>
</div>