<template id="login-success" i18n>
  User logged in successfully
</template>

<template id="login-danger" i18n>
  an error occurred
</template>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="submit(loginForm.value)"
        autocomplete="on"
      >
        <div class="form-group">
          <label for="phone" i18n>
            Telephone number
          </label>
          <input
            autofocus
            autocomplete="username"
            name="phone"
            type="tel"
            class="form-control"
            id="phone"
            aria-describedby="phoneHelp"
            formControlName="phone"
          />
          <div
            [ngStyle]="{
              visibility: loginForm.controls.phone.errors?.required
                ? 'visible'
                : 'hidden'
            }"
            class="invalid-feedback"
            role="alert"
           i18n>
            Phone number is required
          </div>
          <div
            [ngStyle]="{ visibility: loginForm.controls.phone.errors?.pattern ? 'visible': 'hidden' }"
            class="invalid-feedback"
            role="alert"
           i18n>
            The phone number should appear as 0612345678
          </div>
        </div>

        <div class="form-group">
          <label for="password" i18n>
            password
          </label>
          <div class="input-group" id="show_hide_password">
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              name="password"
            />
            <div class="input-group-prepend">
              <div
                (click)="showPassword($event)"
                class="input-group-text"
                role="status"
                aria-label="status"
              >
                <i
                  class="fa fa-eye"
                  id="password_status"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
          <div
            [ngStyle]="{
              visibility: loginForm.controls.password.errors?.required
                ? 'visible'
                : 'hidden'
            }"
            class="invalid-feedback"
            role="alert"
           i18n>
            Password is required
          </div>
        </div>

        <div class="form-group form-check">
          <input
            type="checkbox"
            checked
            class="form-check-input"
            id="remember-me"
            formControlName="rememberme"
            name="rememberme"
          />
          <label class="form-check-label" for="remember-me" i18n>
            Remember me
          </label>
        </div>
        <button
          [disabled]="loading"
          type="submit"
          class="btn"
          [ngClass]="{
            'btn-danger': loginForm.invalid,
            'btn-success': loginForm.valid
          }"
          [ngStyle]="{ marginRight: '15px' }"
         i18n>
          sign in
        </button>
        <div *ngIf="loading" class="spinner-border text-primary" role="status">
          <span class="sr-only" i18n>
            loading...
          </span>
        </div>
      </form>

      <br />
      <p>
        <span i18n>
          You do not have an account,
        </span> 
        <a routerLink="/auth/register" i18n> 
            Create now
        </a>
      </p>


      <br />
      <p>
        <span i18n>
          Back to
        </span>
        <a routerLink="/" i18n>
           Homepage
         </a>
      </p>

      <div
        class="alert alert-danger alert-dismissible fade show"
        [ngStyle]="{ marginTop: '20px' }"
        role="alert"
        *ngIf="errors?.length"
      >
        <ul>
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="col-lg-6">
      <img
        src="assets/images/login.svg"
        alt="login image"
        class="img-fluid mt-3"
      />
    </div>
  </div>
</div>
