<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm.value)" autocomplete="on">
          <div class="form-group">
            <label for="phone">
              رقم الهاتف
            </label>
            <input autofocus name="phone" type="tel" class="form-control" id="phone" aria-describedby="phoneHelp" formControlName="phone">
            <small id="emailHelp" class="form-text text-muted">
              لن نشارك هاتفك مع أي شخص آخر.

            </small>
            <div *ngIf="loginForm.controls.phone.errors?.required" class="invalid-feedback">
              رقم الهاتف مطلوب

            </div>
            <div *ngIf="loginForm.controls.phone.errors?.pattern" class="invalid-feedback">
              يجب أن يظهر رقم الهاتف بالشكل 0612345678

            </div>
          </div>
          <div class="form-group">
            <label for="password">
              كلمه السر

            </label>
            <input type="password" class="form-control" id="password" formControlName="password" name="password">
            <div *ngIf="loginForm.controls.password.errors?.required" class="invalid-feedback">
              كلمة المرور مطلوبة

            </div>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" checked class="form-check-input" id="remember-me" formControlName="rememberme" name="rememberme">
            <label class="form-check-label" for="remember-me">
              تذكرنى
            </label>
          </div>
          <button [disabled]="loading" type="submit" class="btn" [ngClass]="{'btn-danger': loginForm.invalid, 'btn-success': loginForm.valid}" [ngStyle]="{'marginRight': '15px'}">
            تسجيل الدخول

          </button>
          <div *ngIf="loading" class="spinner-border text-primary" role="status">
            <span class="sr-only">
              جار التحميل...

            </span>
          </div>
      </form>
      
      <br>
      <p>
        ليس لديك حساب ، <a routerLink="/auth/register"> !إنشاء الآن </a>
      </p>

      <div class="alert alert-danger alert-dismissible fade show" [ngStyle]="{'marginTop': '20px'}" role="alert" *ngIf="errors?.length">
        <ul>
          <li *ngFor="let error of errors"> {{ error }} </li>
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="col-lg-6">
      <img src="/assets/images/login.svg" alt="login image" class="img-fluid mt-3">
    </div>
  </div>
</div>