<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a i18n class="nav-link" routerLink="./">
            الصفحة الرئيسية
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" >
          <a  class="nav-link" routerLink="./projects" id="userNavbar" role="button" >
            المشاريع
          </a>
        </li>
        <li *ngIf="userService.isAdmin()" class="nav-item" >
          <a i18n class="nav-link" routerLink="./users" id="userNavbar" role="button" >
            المستخدمون
          </a>
        </li>
        <li *ngIf="userService.isAdmin()" class="nav-item" >
          <a i18n class="nav-link" routerLink="./projects/create" id="userNavbar" role="button" >
            أدخل المشروع
          </a>
        </li>
        <li class="nav-item" >
          <a i18n *ngIf="userService.isAdmin()" class="nav-link" routerLink="./transactions" id="userNavbar" role="button" >
            المعاملات
          </a>
        </li>
        <li class="nav-item" >
          <a i18n class="nav-link" routerLink="./reports" id="userNavbar" role="button" >
            التقارير
          </a>
        </li>
      </ul>
        <button i18n class="btn btn-danger my-2 my-sm-0"  (click)="userService.logout()">
          تسجيل خروج
        </button>
    </div>
  </nav>
  