<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
              <img src="assets/images/500.svg" alt="500 image"/>
                <div class="error-details" i18n>
                    Sorry, an error has occured!
                </div>
                <div class="error-actions">
                    <a routerLink="/" class="btn btn-add">
                        <i class="fa fa-home"></i>
                        <div i18n>Take Me Home </div> 
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>