<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
              <img src="../../assets/500.svg" alt="500 image"/>
                <div class="error-details">
                    Sorry, an error has occured!
                </div>
                <div class="error-actions">
                    <a routerLink="/" class="btn btn-add"><fa-icon [icon]="faHome"></fa-icon>
                        Take Me Home </a><a routerLink="/contact" class="btn btn-add btn-lg"><fa-icon [icon]="faEnvelope"></fa-icon> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
  </div>