<app-nav-bar></app-nav-bar>

<ng-container *ngIf="bills.length; else elseTemplate">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Project</th>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Functions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of bills">
        <th scope="row">{{bill.id}}</th>
        <td>{{bill.user_id?.name}}</td>
        <td>{{bill.project_id?.name}}</td>
        <td>{{bill.created_at}}</td>
        <td>{{bill.weight * bill.project_id?.fees}}</td>
        <td>
          <fa-icon [icon]="faPrint" (click)="downloadBill(bill)" data-toggle="modal" data-target="#bill-pdf" class="mr-3"></fa-icon>
          <fa-icon [icon]="faMoneyBillAlt" *ngIf="!bill.payment_id" (click)="saveBill(bill)" data-toggle="modal" data-target="#payment-form"></fa-icon>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
<ng-template #elseTemplate>
  <div  class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Empty! </strong> there is no bills.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-template>



<!-- Modal -->
<div class="modal fade" id="payment-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Payment Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div><p>
          you really confirm the payment you can't undo this ???
        </p></div>
      </div>
      <div class="modal-footer">
        <div *ngIf="loading" class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <button type="button" class="btn btn-primary" (click)="paymentConfirmation()" data-dismiss="modal">Confirm Payment</button>
        <button id="close-modal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
  </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="bill-pdf" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Payment Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">      
          <iframe *ngIf="url" style="width: 100%;" [src]="url" frameborder="0"></iframe>
      </div>
      <div class="modal-footer">
        <div *ngIf="loading" class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <a [href]="url" download="facture.pdf"><button type="button" class="btn btn-success">Download</button></a>
        <button id="close-modal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
  </div>
</div>
</div>