<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="projectNavbar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Project
          </a>
          <div class="dropdown-menu" aria-labelledby="projectNavbar">
            <a class="dropdown-item" routerLink="/dashboard/project-list">list projects</a>
            <a class="dropdown-item" routerLink="/dashboard/project-form">insert project</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/user-list" id="userNavbar" role="button" >
            Users
          </a>
        </li>
      </ul>
        <button class="btn btn-danger my-2 my-sm-0"  (click)="userService.logout()">Logout</button>
    </div>
  </nav>
  