<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="projectNavbar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Project
          </a>
          <div class="dropdown-menu" aria-labelledby="projectNavbar">
            <a class="dropdown-item" routerLink="/dashboard/project-list">list projects</a>
            <a class="dropdown-item" routerLink="/dashboard/project-form">insert project</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userNavbar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User
          </a>
          <div class="dropdown-menu" aria-labelledby="userNavbar">
            <a class="dropdown-item" routerLink="/dashboard/user-list">list users</a>
            <a class="dropdown-item" routerLink="/dashboard/user-form">insert user</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="billNavbar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Bill
          </a>
          <div class="dropdown-menu" aria-labelledby="billNavbar">
            <a class="dropdown-item" routerLink="/dashboard/bill-list">list bills</a>
            <a class="dropdown-item" routerLink="/dashboard/bill-form">insert bill</a>
          </div>
          </li>
          <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="paymentNavbar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Payment
          </a>
          <div class="dropdown-menu" aria-labelledby="paymentNavbar">
            <a class="dropdown-item" routerLink="/dashboard/payment-list">list payments</a>
            <a class="dropdown-item" routerLink="/dashboard/payment-form">insert payment</a>
          </div>
          </li> -->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  