._container {
  text-align: center;
  position: relative;
}

.cover {
    height: 1280px;
}

.title {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    color: #fff;
    font-size: 3rem;
}


.body {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-60%, -50%) ;
}

@media(max-width: 800px){
    .body {
        top: 70%;
    }
}

@media(max-width: 600px){
    .body {
        top: 100%;
    }
}