<div class="_container">
    <img src="/assets/photos/11021330_1548909295358742_6707359898118341222_o.jpg" class="img-fluid" alt="cover" (load)="resetHeight($event)">

</div>

<template>
    <!-- test -->
    <div class="overlay">
        <div class="title" i18n>
            Welcome to the official AMINE public money management program        
        </div>
        <div class="body">
            <a routerLink="/auth"> <button class="btn btn-success" i18n>sign in</button></a>
        </div>
    </div>
</template>