<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <form [formGroup]="projectForm" (ngSubmit)="submit(projectForm.value)" autocomplete="on">
        <div class="form-group">
          <label for="name">
            اسم المشروع
          </label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            name="name"
            id="name"
          />
          <div
            *ngIf="projectForm.controls.name.errors?.required"
            class="invalid-feedback"
          >
            اسم المشروع مطلوب
          </div>
          <div
            *ngIf="projectForm.controls.name.errors?.minlength"
            class="invalid-feedback"
          >
            يجب أن يكون اسم المشروع بطول 5 أحرف
          </div>
        </div>
        <div class="form-group">
          <label for="desc">
            وصف المشروع

          </label>
          <textarea
            type="text"
            class="form-control"
            formControlName="desc"
            name="desc"
            id="desc"
            placeholder="مشروع المياه هو bla bla bla ..."
            rows="3"
          >
          </textarea>
          <div
            *ngIf="projectForm.controls.desc.errors?.required"
            class="invalid-feedback"
          >
            وصف المشروع مطلوب
          </div>
          <div
            *ngIf="projectForm.controls.desc.errors?.minlength"
            class="invalid-feedback"
          >
            يجب أن يكون وصف المشروع بطول 20 حرفًا
          </div>
        </div>
        <div class="form-group">
          <label for="fees">
            رسوم المشروع

          </label>
          <input
            autocomplete="off"
            type="number"
            class="form-control"
            formControlName="fees"
            name="fees"
            id="fees"
            placeholder="5.5"
          />
          <div
            *ngIf="projectForm.controls.fees.errors?.required"
            class="invalid-feedback"
          >
            رسوم المشروع مطلوبة
          </div>
          <div
            *ngIf="projectForm.controls.fees.errors?.min"
            class="invalid-feedback"
          >
            يجب أن تكون رسوم المشروع أكبر من 0
          </div>
        </div>
        <button
        [disabled]="loading"
          type="submit"
          class="btn"
          [ngClass]="{
            'btn-danger': projectForm.invalid,
            'btn-success': projectForm.valid
          }"
          [ngStyle]="{ marginRight: '15px' }"
        >
          حفظ المشروع
        </button>
        <div *ngIf="loading" class="spinner-border text-primary" role="status">
          <span class="sr-only">
            جار التحميل...

          </span>
        </div>
      </form>
      <div
        class="alert alert-danger alert-dismissible fade show"
        [ngStyle]="{ marginTop: '20px' }"
        role="alert"
        *ngIf="errors.length"
      >
        <ul>
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="col-lg-6 container">
      <img
        src="/assets/images/project.svg"
        alt="404"
        class="img-fluid"
        [ngStyle]="{ maxWidth: '100%' }"
      />
    </div>
  </div>
</div>
