<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <img src="../../assets/404.svg" alt="404 image"/>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                    <a routerLink="/" class="btn btn-primary btn-lg"><fa-icon [icon]="faHome"></fa-icon>
                        Take Me Home </a><a routerLink="/contact" class="btn btn-default btn-lg"><fa-icon [icon]="faEnvelope"></fa-icon> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
  </div>