<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <img src="assets/images/404.svg" alt="404 image"/>
                <div class="error-details" i18n>
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                    <a routerLink="/" class="btn btn-primary btn-lg">
                        <i class="fa fa-home"></i>
                        <div i18n>Take Me Home </div> 
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>