<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a  class="nav-link" routerLink="/dashboard">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" >
          <a  class="nav-link" routerLink="/dashboard/projects" id="userNavbar" role="button" >
            Projects
          </a>
        </li>
        <li *ngIf="userService.isAdmin()" class="nav-item" >
          <a  class="nav-link" routerLink="/dashboard/users" id="userNavbar" role="button" >
            Users
          </a>
        </li>
        <li *ngIf="userService.isAdmin()" class="nav-item" >
          <a  class="nav-link" routerLink="/dashboard/projects/create" id="userNavbar" role="button" >
            Insert Projects
          </a>
        </li>
        <li class="nav-item" >
          <a  *ngIf="userService.isAdmin()" class="nav-link" routerLink="/dashboard/transactions" id="userNavbar" role="button" >
            Transactions
          </a>
        </li>
        <li class="nav-item" >
          <a  class="nav-link" routerLink="/dashboard/reports" id="userNavbar" role="button" >
            Reports
          </a>
        </li>
      </ul>
        <button class="btn btn-danger my-2 my-sm-0"  (click)="userService.logout()">Logout</button>
    </div>
  </nav>
  