/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

form.ng-invalid {
    border-color: white;
    box-shadow:none;
    padding-right: none;
}

form.ng-valid {
    border-color: white;
    box-shadow:none;
    padding-right: none;
}

.ng-invalid {
    border-color: #dc3545;
    box-shadow:0 0 0 .2rem rgba(220,53,69,.25);
    padding-right: calc(1.5em + .75rem);
}

.ng-valid {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    padding-right: calc(1.5em + .75rem);
}


.invalid-feedback{
    display: block;
}

.container {
    padding-top: 15px;
}

.spinner-border {
    margin-left: 15px;
}

.pagination-div {
    text-align: center;
    padding: 1rem;
}

.functions {
    text-align: center;
    vertical-align: middle !important;
}

.fa {
    cursor: pointer;
}
