<template id="register-success" i18n>
  User created successfully
</template>
<template id="register-danger" i18n>
  an error occurred
</template>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <form [formGroup]="registerForm" (ngSubmit)="submit(registerForm.value)" autocomplete="on">
        <div class="form-group">
          <label for="name" i18n>
            Full name
          </label>
          <input
            autofocus
            type="tel"
            class="form-control"
            aria-describedby="phoneHelp"
            formControlName="name"
            name="name"
            id="name"
          />
          <div
            [ngStyle]="{ visibility: registerForm.controls.name.errors?.required ? 'visible': 'hidden' }"
            class="invalid-feedback"
            role="alert"
           i18n>
            Name is required
          </div>
          <div
            [ngStyle]="{ visibility: registerForm.controls.name.errors?.pattern ? 'visible': 'hidden' }"
            class="invalid-feedback"
            role="alert"
           i18n>
            Name must contain letters only
          </div>
        </div>
        <div class="form-group">
          <label for="phone" i18n>
            Telephone number
          </label>
          <input
            type="tel"
            class="form-control"
            aria-describedby="phoneHelp"
            formControlName="phone"
            name="phone"
            id="phone"
          />
          <small class="form-text text-muted"
          role="note"
             i18n>
            We will never share your phone with anyone else.
            </small
          >
          <div
            [ngStyle]="{ visibility: registerForm.controls.phone.errors?.required ? 'visible': 'hidden' }"
            class="invalid-feedback"
            role="alert"
           i18n>
            Phone number is required
          </div>
          <div
            [ngStyle]="{ visibility: registerForm.controls.phone.errors?.pattern ? 'visible': 'hidden' }"
            class="invalid-feedback"
            role="alert"
           i18n>
            The phone number must consist of 10 numbers such as: 0691016066
          </div>
        </div>
        <div class="custom-file form-group" [ngClass]="{ 'ng-invalid': registerForm.controls.image.invalid, 'ng-valid': registerForm.controls.image.valid }">
          <input
            #imageEl
            type="file"
            accept="image/jpeg"
            class="custom-file-input"
            formControlName="image"
            name="image"
            id="image"
            (input)="upload($event)"
          />
          <label class="custom-file-label" for="image" i18n>
            personal picture
          </label>
          <!-- progress -->
          <div 
          class="progress mt-3" 
          [hidden]="!uploadStatus.status"
          >
            <div
              class="progress-bar progress-bar-striped progress-bar-animated bg-success"
              role="progressbar"
              [attr.aria-valuenow]="uploadStatus.progress"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 75%;"
            ></div>
          </div>
          <!-- /progress -->
          <div
            [ngStyle]="{ visibility: registerForm.controls.image.errors?.required ? 'visible': 'hidden' }"
            class="invalid-feedback"
            role="alert"
           i18n>
            Photo is required
          </div>
          <div
            [ngStyle]="{ visibility: registerForm.controls.image.errors?.mime ? 'visible': 'hidden' }"
            class="invalid-feedback"
            role="alert"
           i18n>
            Accepted files are images only. Example: image.jpg, image.jpeg
          </div>
          <div
            [ngStyle]="{ visibility: registerForm.controls.image.errors?.size ? 'visible': 'hidden' }"
            class="invalid-feedback"
            role="alert"
           i18n>
            File size must be less than 3MB
          </div>
        </div>
        <div class="form-group">
          <label for="dob" i18n>
            date
          </label>
          <input type="date" class="form-control" formControlName="dob" name="dob" id="dob"  />
          <div
            [ngStyle]="{ visibility: registerForm.controls.dob.errors?.required ? 'visible': 'hidden' }"
            class="invalid-feedback"
            role="alert"
           i18n>
            Date of birth is required
          </div>
        </div>
        <div class="form-group">
          <label for="password" i18n>
            password
          </label>
          
          <div class="input-group" id="show_hide_password">
            <input
            autocomplete="off"
            type="password"
            class="form-control"
            formControlName="password"
            name="password"
            id="password"
          />            
          <div class="input-group-prepend">
              <div 
                (click)="showPassword($event)"
                class="input-group-text" 
                role="status" 
                aria-label="status" 
              ><i class="fa fa-eye" id="password_status" aria-hidden="true"></i>
            </div>
            </div>
          </div>

          <div
            [ngStyle]="{ visibility: registerForm.controls.password.errors?.required ? 'visible': 'hidden' }"
            class="invalid-feedback"
            role="alert"
           i18n>
            Password is required
          </div>
          <div
            [ngStyle]="{ visibility: registerForm.controls.password.errors?.minlength ? 'visible': 'hidden' }"
            class="invalid-feedback"
            role="alert"
           i18n>
            Password length must be more than 5 characters
          </div>
        </div>
        <div class="form-group">
          <label for="password_confirmation" i18n>
            confirm password
          </label>
          <input
            autocomplete="off"
            type="password"
            class="form-control"
            formControlName="password_confirmation"
            name="password_confirmation"
            id="password_confirmation"
          />
          <div
            *ngIf="registerForm.controls.password_confirmation.errors?.required"
            class="invalid-feedback"
            role="alert"
           i18n>
            Password confirmation is required
          </div>
          <div
            *ngIf="
              registerForm.controls.password_confirmation.errors?.minlength
            "
            class="invalid-feedback"
            role="alert"
           i18n>
            Password confirmation must be more than 5 characters long
          </div>
          <div
            *ngIf="registerForm.controls.password_confirmation.errors?.match"
            class="invalid-feedback"
            role="alert"
           i18n>
            Password confirmation and password must match
          </div>
        </div>
        <div class="form-group form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="terms_and_conditions"
            name="terms_and_conditions"
            formControlName="terms_and_conditions"
            checked
          />
          <label class="form-check-label" for="terms_and_conditions"
            >
            <div i18n>
                I agree to
            </div>
            <a routerLink="terms-and-conditions" i18n> 
              terms and conditions
            </a> 
            <div i18n>
                From this app
            </div>
            </label
          >
          <div
            *ngIf="registerForm.controls.terms_and_conditions.errors?.required"
            class="invalid-feedback"
            role="alert"
           i18n>
            You must agree to our terms
          </div>
        </div>
        <button
          [disabled]="loading"
          type="submit"
          class="btn"
          [ngClass]="{
            'btn-danger': registerForm.invalid,
            'btn-success': registerForm.valid
          }"
          [ngStyle]="{ marginRight: '15px' }"
         i18n>
          Create an account
        </button>
        <div *ngIf="loading" class="spinner-border text-primary" role="status">
          <span class="sr-only" i18n>
            loading...
          </span>
        </div>
      </form>

      <br>
      <p>
         <span i18n>
            You already have an account,
         </span> 
          <a routerLink="/auth" i18n> 
            sign in
          </a>
      </p>

      <div
        class="alert alert-danger alert-dismissible fade show"
        [ngStyle]="{ marginTop: '20px' }"
        role="alert"
        *ngIf="errors.length"
      >
        <ul>
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="col-lg-6">
      <img
        src="assets/images/register.svg"
        class="img-fluid mt-3"
        alt="register img"
      />
    </div>
  </div>
</div>
