<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <form [formGroup]="registerForm" (ngSubmit)="submit(registerForm.value)" autocomplete="on">
        <div class="form-group">
          <label for="name">
            الاسم الكامل
          </label>
          <input
            autofocus
            type="tel"
            class="form-control"
            aria-describedby="phoneHelp"
            formControlName="name"
            name="name"
            id="name"
          />
          <div
            *ngIf="registerForm.controls.name.errors?.required"
            class="invalid-feedback"
          >
            مطلوب اسم
          </div>
          <div
            *ngIf="registerForm.controls.name.errors?.pattern"
            class="invalid-feedback"
          >
            يجب أن يحتوي الاسم على أحرف فقط
          </div>
        </div>
        <div class="form-group">
          <label for="phone">
            رقم الهاتف
          </label>
          <input
            type="tel"
            class="form-control"
            aria-describedby="phoneHelp"
            formControlName="phone"
            name="phone"
            id="phone"
          />
          <small class="form-text text-muted"
            >
            لن نشارك هاتفك مع أي شخص آخر.
            </small
          >
          <div
            *ngIf="registerForm.controls.phone.errors?.required"
            class="invalid-feedback"
          >
            رقم الهاتف مطلوب
          </div>
          <div
            *ngIf="registerForm.controls.phone.errors?.pattern"
            class="invalid-feedback"
          >
            يجب أن يتكون رقم الهاتف من 10 أرقام مثل: 0691016066
          </div>
        </div>
        <div class="custom-file form-group" [ngClass]="{ 'ng-invalid': registerForm.controls.image.invalid, 'ng-valid': registerForm.controls.image.valid }">
          <input
            #imageEl
            type="file"
            accept="image/jpeg"
            class="custom-file-input"
            formControlName="image"
            name="image"
            id="image"
            (input)="upload($event)"
          />
          <label class="custom-file-label" for="image">
            الصورة الشخصية
          </label>
          <!-- progress -->
          <div class="progress mt-3" [hidden]="!uploadStatus.status">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated bg-success"
              role="progressbar"
              [attr.aria-valuenow]="uploadStatus.progress"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 75%;"
            ></div>
          </div>
          <!-- /progress -->
          <div
            *ngIf="registerForm.controls.image.errors?.required"
            class="invalid-feedback"
          >
            الصورة مطلوبة
          </div>
          <div
            *ngIf="registerForm.controls.image.errors?.mime"
            class="invalid-feedback"
          >
            الملفات المقبولة هي صور فقط على سبيل المثال: image.jpg ، image.jpeg
          </div>
          <div
            *ngIf="registerForm.controls.image.errors?.size"
            class="invalid-feedback"
          >
            يجب أن يكون حجم الملف أقل من 3 ميغا بايت
          </div>
        </div>
        <div class="form-group">
          <label for="dob">Date</label>
          <input type="date" class="form-control" formControlName="dob" name="dob" id="dob"  />
          <div
            *ngIf="registerForm.controls.dob.errors?.required"
            class="invalid-feedback"
          >
            تاريخ الميلاد مطلوب
          </div>
        </div>
        <div class="form-group">
          <label for="password">
            كلمه السر
          </label>
          <input
            autocomplete="off"
            type="password"
            class="form-control"
            formControlName="password"
            name="password"
            id="password"
          />
          <div
            *ngIf="registerForm.controls.password.errors?.required"
            class="invalid-feedback"
          >
            كلمة المرور مطلوبة
          </div>
          <div
            *ngIf="registerForm.controls.password.errors?.minlength"
            class="invalid-feedback"
          >
            يجب أن يكون طول كلمة المرور أكثر من 5 أحرف
          </div>
        </div>
        <div class="form-group">
          <label for="password_confirmation">
            تأكيد كلمة المرور
          </label>
          <input
            autocomplete="off"
            type="password"
            class="form-control"
            formControlName="password_confirmation"
            name="password_confirmation"
            id="password_confirmation"
          />
          <div
            *ngIf="registerForm.controls.password_confirmation.errors?.required"
            class="invalid-feedback"
          >
            مطلوب تأكيد كلمة المرور
          </div>
          <div
            *ngIf="
              registerForm.controls.password_confirmation.errors?.minlength
            "
            class="invalid-feedback"
          >
            يجب أن يكون طول تأكيد كلمة المرور أكثر من 5 أحرف
          </div>
          <div
            *ngIf="registerForm.controls.password_confirmation.errors?.match"
            class="invalid-feedback"
          >
            يجب أن يتطابق تأكيد كلمة المرور مع كلمة المرور
          </div>
        </div>
        <div class="form-group form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="password_confirmation"
            name="terms_and_conditions"
            formControlName="terms_and_conditions"
            checked
          />
          <label class="form-check-label" for="password_confirmation"
            >أوافق على
            <a routerLink="/terms-and-conditions"> 
              الأحكام والشروط</a> من
            هذا التطبيق
            </label
          >
          <div
            *ngIf="registerForm.controls.terms_and_conditions.errors?.required"
            class="invalid-feedback"
          >
            يجب أن توافق على شروطنا
          </div>
        </div>
        <button
          [disabled]="loading"
          type="submit"
          class="btn"
          [ngClass]="{
            'btn-danger': registerForm.invalid,
            'btn-success': registerForm.valid
          }"
          [ngStyle]="{ marginRight: '15px' }"
        >
          إنشاء حساب
        </button>
        <div *ngIf="loading" class="spinner-border text-primary" role="status">
          <span class="sr-only">
            جار التحميل...
          </span>
        </div>
      </form>

      <br>
      <p>
          لديك حساب بالفعل ، <a routerLink="/auth/login"> تسجيل الدخول </a>
      </p>

      <div
        class="alert alert-danger alert-dismissible fade show"
        [ngStyle]="{ marginTop: '20px' }"
        role="alert"
        *ngIf="errors.length"
      >
        <ul>
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="col-lg-6">
      <img
        src="/assets/images/register.svg"
        class="img-fluid mt-3"
        alt="register img"
      />
    </div>
  </div>
</div>
